@import '../../../components/mixins/mixin';

html {
    box-sizing: border-box;
}

body {
    border: 0;
    background-color: $BodyBackground;

    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.root {
    position: relative;

    height: 100%;

    text-align: center;

    color: $FontColor;
}

.content {
    position: relative;

    display: inline-block;

    width: initial;
    height: calc(100% - 70px);
    margin: 0 15px;

    text-align: left;
}


.preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    opacity: 0.6;
    background-color: white;
}
